/* own utility class */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.row .no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-padding-left{padding-left: 0;}

/* end own utility class */

/* bootstrap fix fluid */
body .container-fluid{padding-left: 0; padding-right: 0;}


/* common properties */
body{color: #000000; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif}
.color-gray-fa{background-color: #fafafa;}
.color-gray-eb{background-color: #ebebeb;}
.color-red-ff0{background-color: #ff0000;}
.color-black-00{background-color: #000000;}
.color-white-ff{background-color: #ffffff;}
.ribbon-type{
  font-size: 17px;
  color: #ffffff;
  padding: 14px;
  margin-left: -15px;
  float: left;
}
.border-dotted-top-gray-99{border-top: 1px dotted #999999;}
.border-box-gray-e3{border: 1px solid #e3e3e3;}
.border-box-btm-gray-e3{border-bottom: 1px solid #e3e3e3;}
.margin-btm-19{margin-bottom: 19px;}


.clear{clear:both;}


.topnav-wrapper, .topnav-wrapper a{
  font-family: Arial,"Helvetica Neue",Helvetica, sans-serif;
  color: #898989;
  font-size: 14px;
}

.navbar-nav .nav-logo{
  display: block;
  width: 213px;
  height: 48px;
  background: url('../images/logo_central_click.png') no-repeat 0 0;
  margin-right: 15px;
}
.topnav-wrapper .full-left, .navbar-collapse .full-left{padding-left: 0;}
.dropdown-toggle{text-transform: uppercase;}
.caret-new{
  width: 7px;
  height: 4px;
  display: inline-block;
  margin-left: 12px;
  background: url('../images/nav-arrow.png') no-repeat 0 0;
  top: -4px;
  position: relative;
}
.topnav-conainer{padding-top: 28px; padding-bottom: 28px;}
.btm-border{border-bottom: 1px solid #cccccc;}

/* BU List */
.bu-icon-coontainer{background-color: #fafafa;}
.bu-icon-left{margin-top: 11px;}
.bu-icon-left li{margin-right: 40px;}
.bu-icon-left li:first-child{margin-left: 15px;}
.bu-icon-left li:last-child{margin-right: 0;}
.bu-icon-1{ width: 71px; height: 21px; display: block; background: url('../images/logo_bu_central.png') no-repeat 0 0; position: relative; top: 8px; }
.bu-icon-2{ width: 35px; height: 35px; display: block; background: url('../images/logo_bu_robinson.png') no-repeat 0 0; }
.bu-icon-3{ width: 53px; height: 36px; display: block; background: url('../images/logo_bu_b2s.png') no-repeat 0 0; }
.bu-icon-4{ width: 36px; height: 36px; display: block; background: url('../images/logo_bu_powerbuy.png') no-repeat 0 0; }
.bu-icon-5{ width: 59px; height: 33px; display: block; background: url('../images/logo_bu_supersports.png') no-repeat 0 0; }
.bu-icon-6{ width: 36px; height: 38px; display: block; background: url('../images/logo_bu_tops.png') no-repeat 0 0; }
.bu-icon-7{ width: 57px; height: 34px; display: block; background: url('../images/logo_bu_marketplace.png') no-repeat 0 0; }

.bu-icon-right{margin-top: 8px;}
.bu-icon-right{ text-align: right;}
.bu-icon-coontainer .bu-icon-right a{font-size: 11px;}
/* .bu-icon-right li:first-child, .bu-icon-right li:nth-child(2){border-right: 1px solid #b7b7b7;} */
.bu-icon-right li:first-child p{line-height: 21px; position: relative; top: -4px; margin: 0;}
.bu-icon-right li:nth-child(2) a{position: relative; top: -6px; display: block; line-height: 15px; padding-top: 19px;}
.bu-icon-right li:nth-child(2), .bu-icon-right li:nth-child(3){border-left: 1px solid #b7b7b7;}
.bu-icon-right li:last-child{padding-right: 0;}
.box-text{padding: 4px 8px; background-color: #ed1c24; font-size: 14px; font-weight: bold; color: #FFFFFF; text-transform: uppercase;  display: block; line-height: 14px;}
.text-large-24{font-weight: bold; font-size: 24px;}
.text-large-18{font-weight: bold; font-size: 18px;}

/* home banner c2a */
.home_banner_c2a{padding: 18px 0 33px 0;}


/* deals of the day */
/* product list item */
.product-box-full{margin-top: 14px; margin-bottom: 32px;}
.box-product-item-mg-right{margin-right: 33px;}
.box-product-item{
  width: 260px;
  height: 470px;
  position: relative;
  float: left;
}
.box-product-img{
  width: 260px;
  height: 260px;
  position: relative;
}
.box-product-img a{display: block; width: 100%; height: 100%;}
.box-promo-corner{position: absolute; z-index: 1; font-size: 20px; font-weight: bold; color: #FFFFFF; top: 0; left: 0; line-height: 23px; padding: 5px;}
.title-promo-percent{font-size: 29px;}
.title-promo-percent-sign{font-size: 18px; font-weight: normal;}
.title-soldout{font-size: 26px;}
.box-promo-corner-img{position: absolute; z-index: 1; top: 0; right: 0; padding: 6px 8px 8px 8px;}
.box-promo-corner-img span{display: block; width: 57px; height: 56px; background: url('../images/icon_online_exclusive.png') no-repeat 0 0;}

.box-product-title{width: 260px; padding: 0 10px 0 10px; height: 56px; overflow: hidden;}
.box-product-title p{line-height: 16px; padding: 0; margin: 0;}
.box-product-title a{ font-size: 13px; color: #868686; }

.box-product-timer{width: 260px; height: 56px;}
.box-timer{font-size: 18px; color: #464646; border: 1px solid #464646; padding: 5px 4px;}
.box-timer-divider{font-size: 18px; color: #464646;}
.box-timer-wrapper{margin: auto 0;}
.box-product-timer ul{margin: 0; padding: 0;}
.box-product-timer ul>li{margin: 0; padding: 0;}
.box-timer-label, .box-timer-divider-label{font-size: 11px; color: #898989;}
.box-timer-divider-label-1{margin:0 0 0 9px;}
.box-timer-divider-label-2{margin:0 0 0 13px;}


.box-product-price{height: 58px;}
.box-price-save{width: 100px; float: left; height: 58px; line-height: 21px;}
.box-price-tag{width: 160px; float: left; height: 58px; line-height: 21px;}
.box-price-save p{margin: 0; padding: 0 0 0 10px;}
.box-price-tag p{margin: 0; padding: 0 10px 0 0;}
.box-price-save p{text-align: left; color: #ed1c24; font-weight: bold; font-size: 23px;}
.box-price-save p:first-child{font-size: 12px;}
.box-price-tag p{text-align: right; color: #4e4e50; font-weight: bold; font-size: 23px;}
.box-price-tag p:first-child{font-size: 13px; color: #636363; font-weight: normal;}
.box-product-cart{height: 40px; width: 260px;}
.btn-add-to-cart{height: 40px; width: 180px; display: block; float: left; color:#FFFFFF; background-color: #000000; font-size: 16px; text-align: center; padding-top: 9px; cursor: pointer;}
.box-product-fav, .box-product-info{float: left; display:block; height: 40px; width: 40px; border-top: 1px solid #e1e1e1;}
.box-product-fav{border-left:1px solid #000000; cursor: pointer; background: url('../images/icon_fav.png') no-repeat center center;}
.box-product-info{border-left:1px solid #e1e1e1; background: url('../images/icon_info.png') no-repeat center center;}


/* featured items box */
.rec-box-full{margin-top: 24px; margin-bottom:30px;}
.border-red-ff0{border-top: 2px solid #ff0000;}
.border-black-00{border-top: 2px solid #000000;}
.rec-box-right{width: 65.789%; float: left;}
.rec-box-left{width: 34.210%; float: left;}
.rec-box-left-one-half{width: 50%; float: left;}
.rec-box-left-one-full{width: 100%; float: left;}

/* privilege box */
.privilege-box-full{margin-top: 20px; margin-bottom:40px;}

/* shop of the week */
 .week-box-full{margin-top: 25px; margin-bottom:24px;}

/* channel */
.channel-box-full{margin-top: 30px; margin-bottom: 34px;}
.title-vdo-clip{display:block; width: 100%; margin: 14px 0 0 0; color: #d1d1d1; font-size: 14px;}
.title-sub-vdo-clip{display:block; width: 100%; color: #898989; font-size: 11px;}

/* Editor's pack */
.editor-box-full{margin-top: 27px;}
.box-pin-container{width: 362px; height: auto; float: left;}
.box-flex-main-img-container{width: 360px; height: auto; float: left;}
.flex-main-img, .box-block-text-front{float: left; width: 260px; height: auto;}
.box-thumbs-container-front, .box-block-click-font{float: left; width: 100px; height: auto;}
.box-block-text-front{padding-left: 20px; padding-right: 20px;}
.box-block-text-front p{font-size: 13px;}
.box-block-text-front .block-text-front-title{margin: 20px 0 0 0; font-size: 20px;}
.block-text-front-title a{color: #000000;}
.box-block-click-font{font-size: 14px;}
.box-block-click-font p{margin-top: 29px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e3e3e3;}
.box-block-click-font span{font-size: 14px; color: #ed1c24;}




/* footer policy */
.box-footer-policy{margin-top: 14px; margin-bottom: 20px;}
.icon-footer-mail{float: left; display: inline-block; background: url('../images/icon_mail.png') no-repeat 0 0; width: 35px; height: 29px; margin-right: 12px; margin-top: 2px;}
.icon-footer-time{float: left; display: inline-block; background: url('../images/icon_time.png') no-repeat 0 0; width: 36px; height: 36px; margin-right: 12px; margin-top: -2px; margin-left: -30px;}
.icon-footer-gift{float: left; display: inline-block; background: url('../images/icon_gift.png') no-repeat 0 0; width: 34px; height: 34px; margin-right: 12px; margin-top: -2px; margin-left: -30px;}
.icon-footer-shipping{float: left; display: inline-block; background: url('../images/icon_shipping.png') no-repeat 0 0; width: 40px; height: 26px; margin-right: 12px; margin-top: 2px; margin-left: -30px;}


.footer-time-mg-top{margin-top: 9px;}
.icon-footer-text{font-size: 12px; font-weight: bold; color: #7d7d7d; display: inline-block; margin-bottom: 0; line-height: 14px;}
.box-footer-policy .footer-text-30{font-size: 30px; font-weight: normal;}
.icon-footer-text span{color: #cccccc;}

.box-footer-open-hour{margin-top: 29px; margin-bottom: 40px;}
.box-footer-open-hour p{margin: 0; padding: 0; font-size: 16px;}
.box-footer-open-hour span{color: #a7a7a7;}

.box-social-footer{width: 350px; margin: -32px auto 0; position: relative;}
/* .box-social-footer li{height: 30px; width: auto;} */
.box-social-footer a{display: block;  margin: 15px;}
.box-social-footer .social-fb{width: 12px; height: 30px; background: url('../images/icon_social_fb.png') no-repeat center 2px;}
.box-social-footer .social-tw{width: 24px; height: 30px; background: url('../images/icon_social_tw.png') no-repeat center 8px;}
.box-social-footer .social-pin{width: 19px; height: 30px; background: url('../images/icon_social_pin.png') no-repeat center 5px;}
.box-social-footer .social-ig{width: 25px; height: 30px; background: url('../images/icon_social_ig.png') no-repeat center 5px;}
.box-social-footer .social-yt{width: 30px; height: 30px; background: url('../images/icon_social_yt.png') no-repeat center 0;}

.box-footer-payment-icons{margin-top: 22px; }
.icon-payments{display: block; width: 262px; height: 43px; background: url('../images/icon_payment.gif') no-repeat 0 0; margin: 0 auto 16px;}

.box-footer-links{font-size: 13px;}
.box-footer-links a{color: #000000;}
.input-medium{
  width: 170px;
  height: 28px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #d7d7d7;
  margin-top: 9px;
}
.button-footer{
  width: 88px;
  height: 28px;
  background-color: #ee1c24;
  margin-left: -5px;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
}
.sub-note{ font-size: 11px; line-height: 15px; margin-top: 7px;}

/* homepage  gallery */
.slider-home .gallery {
  background: #FFFFFF;
  margin-bottom: 14px;
}

.flickity-prev-next-button.previous {
  left: -14px;
}
.flickity-prev-next-button.next {
    right: -14px;
}


.slider-home .gallery-cell {
  width: 750px;
  height: 480px;
  margin-right: 30px;
  background: #FFFFFF;
  counter-increment: gallery-cell;
}

.slider-home .gallery-nav .gallery-cell {
  height: 40px;
  width: 55px;
}

.slider-home .gallery-nav .gallery-cell.is-nav-selected img{
  border: 1px solid #000000;
}

.slider-home .gallery-nav {
  margin-bottom: 0;
}
.flickity-prev-next-button:disabled {
    cursor: auto;
    opacity: 1;
}

/* c2a */

.privilege-box-full .c2a {
  background: #FFFFFF;
  margin-left: 15px;
}

.privilege-box-full .c2a-cell {
  width: 263px;
  height: 160px;
  margin-right: 30px;
  background: #FFFFFF;
  counter-increment: c2a-cell;
}

/* gallery product list */
.product-box-full .gallery-product-list{
  margin-left: 15px;
}

.product-box-full .box-product-list-cell {
  width: 260px;
  height: 470px;
  counter-increment: box-product-list-cell;
}


/* topnav search */
.bootstrap-select .dropdown-toggle{ text-transform: none; }
.border-shadow-none{border: none; box-shadow: none;}
.border-shadow-none .btn-default{border-color: #FFFFFF;}
.select-border-left{border-left: 1px solid #e8e8e8;}
.topnav-search{border: 1px solid #e8e8e8; border-radius: 4px; padding-right: 0;}
.topnav-search input, .topnav-search button{height: 39px;}
.topnav-search .form-control:focus{border-color: none; box-shadow: none;}
.icon-search{display:inline-block; width: 41px; height: 40px; background: url('../images/icon_search.gif') no-repeat 0 0; border-left: 1px solid #e8e8e8;}

.topnav-home .nav > li > a:hover,
.topnav-home .nav > li > a:focus {
  text-decoration: none;
  background-color: #FFFFFF;
}
.text-bold-black{font-weight: bold; color: #000000;}

.box-login-cart{padding-left: 0; padding-right: 0;}
.box-login-cart .dropdown-toggle{text-transform: none; line-height: 17px;}
.box-login-cart .sub-title{font-size: 12px; color: #898989;}
.box-login-cart .navbar-nav{padding-top: 10px;}
.box-login-cart .navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
}
.box-topnav-cart{width: 117px; height: auto; position: relative;}
.bg-tovnav-cart{position: relative; width: 117px; height: 83px; background: url('../images/topnav_cart.png') no-repeat 0 0; margin-top: -39px;}
.bg-tovnav-cart .tovnav-cart-subtitle{font-size: 12px; color: #666666; display: block; position: relative; top: 31px; left: 10px;}
.bg-tovnav-cart .tovnav-cart-title{font-size: 14px; color: #666666; font-weight: bold; display:block; position: relative; top: 26px; left: 33px; }
.bg-tovnav-cart .tovnav-cart-item-no{font-size: 30px; color: #666666; display:block; position: relative; top: -12px; left: 70px;}
.topnav-lang{color: #FFFFFF; padding: 4px; background-color: #000000; position: relative; top: 8px;}

.view-more{font-size: 12px; color: #7d7d7d; float: right; margin-top: 15px;}
.view-more-white{font-size: 12px; color: #FFFFFF; float: right; margin-top: 15px;}
.icon-view-more{position: relative; display: inline-block; background: url('../images/icon_arrow_view_all.png') no-repeat 0 0; width: 8px; height: 7px; top:5px;}
.icon-view-more-white{position: relative; display: inline-block; background: url('../images/icon_arrow_view_all_white.png') no-repeat 0 0; width: 8px; height: 7px; top:5px;}
